{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Carrera universitaria</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/logout">
            <img src="{% static 'images/Salir.png'%}" alt="Boton-iniciar" class="login-btn">
        </a>
    </header>

    <div class="carrera-title">
        <h1>Bienvenido! <br> {{ profile.nombres }} {{profile.apellido_paterno}}</h1>
    </div>

    <!-- Imagen con el titulo -->
    <section class="info-section">
        <img src="{% static 'images/CONTIGO.png'%}" alt="Imagen de fondo" class="info-image">
    </section>

    <div class="carrera-title">
        <h1>Tu Carrera Universitaria</h1>
    </div>

    <!-- Imagen interactiva -->
    <main>
        <section>
            <img class="carrera-imagen" src="{% static 'images/MAPA.png'%}" alt="Imagen de la carrera">
        </section>
    </main>

    <div class="carrera-title">
        <h1>Conoce los temas</h1>
    </div>

    <section class="topics">

        <div class="topic-container topic-row-1">
            <div class="topic">
                <a href="/primerpaso">
                <img src="{% static 'images/BO-10.png'%}" alt="Etapa 1 - Mis Intereses">
                </a>
            </div>
            <div class="topic">
                <a href="/segundopaso">
                <img src="{% static 'images/BO-11.png'%}" alt="Etapa 2 - Mis Talentos">
                </a>
            </div>
            <div class="topic">
                <a href="/tercerpaso">
                <img src="{% static 'images/BO-12.png'%}" alt="Etapa 3 - Mis Apoyos">
                </a>
            </div>
            <div class="topic">
                <a href="/cuartopaso">
                <img src="{% static 'images/BO-13.png'%}" alt="Etapa 4 - Mi Universidad">
                </a>
            </div>
        </div>

        <div class="topic-container topic-row-2">
            <div class="topic">
                <a href="/quintopaso">
                <img src="{% static 'images/BO-14.png'%}" alt="Etapa 5 - Mi Entorno">
                </a>
            </div>
            <div class="topic">
                <a href="/Quiero mas P6/quiero_mas_s1.html">
                <img src="{% static 'images/BO-15.png'%}" alt="Etapa 6 - ¡Quiero Más!">
                </a>
            </div>
            <div class="topic">
                <a href="/Mi plan de carrera P7/mi_plan_s1.html">
                <img src="{% static 'images/BO-16.png'%}" alt="Etapa 7 - Mi Plan de Carrera">
                </a>
            </div>
        </div>

    </section>
</body>
</html>
