{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Formato</title>
    <link rel="stylesheet" href="{% static 'css/formato_paso1.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Carrera universitaria</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="download-container">
            <h2 class="download-title">Descarga el Formato</h2>
            <p>Haz clic en el botón de abajo para descargar el formato:</p>
            <a href="" class="btn download-button" download>Descargar Formato</a>
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="/video-primer-paso" class="btn back-button">Regresar</a>
        <a href="mis_intereses_s2.html" class="btn continue-button">Continuar</a>
    </div>
</body>
</html>
