{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen</title>
    <link rel="stylesheet" href="{% static 'css/imagen_paso1.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Carrera universitaria</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/primerpaso">
            <button class="cancel-btn">Salir</button>
        </a>
    </header>

    <div class="content">
        <div class="image-container">
            <h2 class="image-title">Título de la Imagen</h2>
            <img src="{% static 'images/MapaExample.png'%}" alt="Descripción de la imagen" class="displayed-image">
        </div>
        <div class="controls-container">
            <!-- Aquí puedes agregar otros controles para la imagen si es necesario -->
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="/primerpaso">
            <img src="{% static 'images/Regresar.png'%}" alt="Boton-regresar" class="btn back-button">
        </a>
        <a href="/presentacion-primer-paso">
            <img src="{% static 'images/Continuar.png'%}" alt="Boton-continuar" class="btn continue-button">
        </a>
    </div>
</body>
</html>
