{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infografía</title>
    <link rel="stylesheet" href="{% static 'css/infografia_paso1.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Inicio</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/mis-intereses-s2">
            <img src="{% static 'images/Salir.png'%}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>

    <!-- Contenedor de la infografía -->
    <div class="content">
        <div class="infografia-container">
            <h2 class="infografia-title">Infografía</h2>
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="/mis-intereses-s2">
            <img src="{% static 'images/Regresar.png'%}" alt="Boton-regresar" class="btn back-button">
        </a>
        <a href="/test-primer-paso">
            <img src="{% static 'images/Continuar.png'%}" alt="Boton-continuar" class="btn continue-button">
        </a>
    </div>

</body>
</html>
