{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis intereses seccion 1</title>
    <link rel="stylesheet" href="{% static 'css/mis_in1.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
    </header>

    <!-- Imagen con el titulo -->
    <section class="info-section">
        <div class="container">
            <div class="main-content">
                <img src="{% static 'images/MIS_INTERESES.png' %}" alt="Imagen con fines ilustrativos">
                <h2>Mis intereses</h2>
                <p>Texto ilustrativo con fines gráficos para el estilo y/o diseño de la página.</p>
            </div>

            <div class="sidebar">
                <h2>Autoconocimiento</h2>
                <a href="/imagen-primer-paso/" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/IMAGEN.png' %}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Imagen</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: 85%;"></div>
                            </div>
                            <span>85% completado</span>
                            <div class="bookmark"></div>
                        </div>
                    </div>
                </a>
                <a href="/presentacion-primer-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/IMAGEN.png' %}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Presentación</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: 45%;"></div>
                            </div>
                            <span>45% completado</span>
                        </div>
                    </div>
                </a>
                <a href="/video-primer-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/IMAGEN.png' %}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Video</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: 22%;"></div>
                            </div>
                            <span>22% completado</span>
                        </div>
                    </div>
                </a>
                <a href="/formato-primer-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/IMAGEN.png' %}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Formato</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: 63%;"></div>
                            </div>
                            <span>63% completado</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <div class="navigation-buttons">
        <a href="/homeuser" class="btn back-button">Regresar</a>
        <a href="/imagen-primer-paso/" class="btn continue-button">Continuar</a>
    </div>
</body>
</html>
