{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test de Intereses</title>
    <link rel="stylesheet" href="{% static 'css/test_paso1.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/Home/index.html">Inicio</a></li>
                <li><a href="/Home/index.html">Conoce los temas</a></li>
                <li><a href="/Home/index.html">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/mis-intereses-s2">
            <img src="{% static 'images/Salir.png' %}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>

    <!-- Barra de progreso -->
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>

    <!-- Contenedor del test -->
    <div class="content">
        <div class="test-container">
            <h2 class="test-title">Test de Inteligencias multiples</h2>
            <form id="testForm">
                
                <div class="question" data-question="1">
                    <p>Prefiero hacer un croquis o un plano a tener que decirle a alguien como llegar a una dirección</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question1" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question1" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="2">
                    <p>Sé las razones por las que me siento enojado o contento.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question2" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question2" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="3">
                    <p>Puedo o podía tocar un instrumento musical</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question3" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question3" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="4">
                    <p>Puedo vincular la música con mis estados de ánimo</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>
                
                <div class="question" data-question="5">
                    <p>Sé realizar operaciones como sumas o multiplicaciones de manera mental y con rapidez</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="6">
                    <p>Puedo apoyar a un amigo (a) a moderar y controlar sus sentimientos, porque he vivido sentimientos parecidos y pude manejarlos</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="7">
                    <p>Me agrada trabajar con calculadoras y computadoras</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="8">
                    <p>Me es fácil el aprender un baile nuevo</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="9">
                    <p>Me es sencillo expresar lo que pienso en una discusión o debate</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="10">
                    <p>Me agrada tener una buena plática, discurso o sermón</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="11">
                    <p>Ubico el Norte y el Sur, sin importar en donde me encuentre</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="12">
                    <p>Disfruto el reunirme con grupos de personas en eventos o fiestas</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="13">
                    <p>Sin música la vida me parece vacía</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="14">
                    <p>Entiendo los diagramas y/o gráficos que aparecen en los manuales o instrucciones de equipos o instrumentos</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="15">
                    <p>Disfruto el resolver rompecabezas y me entretengo con juegos electrónicos</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="16">
                    <p>No se me dificulto el aprender a manejar la bicicleta o el andar en patines</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="17">
                    <p>Me molesto, cuando en una discusión escucho algo que me parece absurdo o sin sentido</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="18">
                    <p>Tengo la capacidad de influir o persuadir a otros para que sigan mis planes o ideas</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="19">
                    <p>Tengo un buen equilibrio y coordinación en actividades físicas</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="20">
                    <p>Puedo relacionar números de manera más fácil y rápida que alguno de mis compañeros</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="21">
                    <p>Disfruto al construir modelos, maquetas o al realizar esculturas</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="22">
                    <p>Soy bueno encontrando el significado exacto de las palabras</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="23">
                    <p>Tengo facilidad para ver un objeto desde distintos ángulos o vistas</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="24">
                    <p>Frecuentemente, relaciono una canción con algo que me haya ocurrido en mi vida</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="25">
                    <p>Me agrada trabajar con números y figuras</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="26">
                    <p>Me gusta estar en silencio y pensar y analizar mis sentimientos más íntimos</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="27">
                    <p>Me agrada y me siento a gusto, al observar las formas de las construcciones y estructuras</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="28">
                    <p>Me gusta cantar, tararear o silbar cuando me baño o cuando estoy solo</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>
                
                <div class="question" data-question="29">
                    <p>Soy talentoso en el atletismo</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="30">
                    <p>Disfruto al redactar cartas largas a mis amistades</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="31">
                    <p>La mayor parte del tiempo sé qué expresión o gesto tengo en el rostro</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="32">
                    <p>La mayoría de las veces me percato de las expresiones o gestos en la cara de otras personas</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="33">
                    <p>No me es difícil el identificar o reconocer mis estados de ánimo</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="34">
                    <p>Noto los estados de ánimo de las personas con las que me rodeo</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="35">
                    <p>Reconozco muy bien, lo que otros piensan de mí</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question35" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question35" value="no"> No
                        </label>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- Botones de navegación -->
    <div class="navigation-buttons">
        <button id="prevButton" class="btn back-button">Anterior</button>
        <button id="nextButton" class="btn continue-button">Siguiente</button>
        <button type="submit" form="testForm" id="submitButton" class="btn continue-button" style="display:none;">Enviar</button>
    </div>

    <script src="{% static 'js/test.js' %}"></script>
</body>
</html>