html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4996C6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 40px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    width: 350px;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

header .login-btn {
    width: 200px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

header .login-btn:hover {
    background-color: #7CC6D8;
}

.division {
    background-color: deeppink;
    height: 30px;
    background-size: cover;
}

.info-section {
    position: relative;
    text-align: center;
    color: white;
    background-color: #7CC6D8;
}

.info-image {
    width: 50%;
    height: auto;
    justify-content: center;
}

.carrera-title {
    background-color: #4996C6;
    padding: 10px 0;
}

.carrera-title h1 {
    color: white;
    text-align: center;
}

.carrera-imagen {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

main {
    padding: 0;
    margin: 0;
}

.topics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #4996C6;
    text-align: center;
}

.topic {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    color: #333;
}

.topic img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333c45;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}

footer p {
    margin: 0;
}
    